@font-face {
  font-family: 'Outfit';
  src: local('Outfit'), url(./Outfit-VariableFont_wght.ttf);
}

*{
  margin:0;
}

body{
  background-color: 
  #cde4e4;
}

.cabecalho{
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 65px;
  margin: 30px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  
}
.menubar{

  font-family: "Outfit", sans-serif;
  font-weight: 700;

}

.mobile-menu{
  cursor: pointer;
  display:none;
}

.mobile-menu div{
  width: 32px;
  height: 2px;
  background-color: #000000;
  margin: 8px;
}

@media (max-width:999px){

  body{
    overflow-x: hidden;
  }
  .menubar{
    position: absolute;
    top: 6vh;
    right: 4px;
    width: 50vw;
    height: 92vh;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .menubar li{
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu{
    display: block;
  }

  .menubar.active{
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }

  .pedir{
    display: none;
  }

  .login{
    display: none;
  }

  .cabecalho h2{
    font-size: 20px;
    margin-right: 100px;
  }

.content-process{
  display: flex;
  flex-direction: column;
align-items: center;
}
  .process-img{
    width: 20px;
    height: 40px;
  }
}

nav a{
  position: relative;
}

nav a::after {
  content: " ";
  width: 0%;
  height:2px;
  background-color: #1590a8;
  position: absolute;
  bottom:0;
  left:0;
  transition: 0.5s ease-in-out;
}

nav a:hover::after{
  width: 100%;

}

.menubar ul{
  display: inline-block;
  margin-right: 50px;
}

.menubar li{
  display: inline-block;
  list-style: none;
}

.menubar ul li a{
  margin-left: 10px;
  margin-right: 20px;
  text-decoration: none;
  color: #000000;
}


.pedir{
  margin-right: 20px;
  width: 118px;
  height: 42px;
  border-radius: 8px;
  background-color: #fff;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #55BDB3;
  border: #55BDB3 2px solid;
}

.pedir:hover{
  background-color: #0F2435;
    color: #fff;
}

.login{
  width: 118px;
    height: 42px;
    border-radius: 8px;
    background-color: #fff;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #55BDB3;
    border: #55BDB3 2px solid;
}

.login:hover{
  background-color: #0F2435;
  color: #fff;
}


.main{
  align-items: center;
  margin-top: 110px;
}

.conteudo{
  display: flex;
  justify-content: space-around;
}

.text{
  width: 446px;
  height: 220px;
}
.bg-rocket{
  float: right;
}

.text h1{
  font-family: 'Outfit',sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 50px;
  color: #55BDB3;
}

.action{
  color:#0F2435 ;
}

.help{
  color: #000000;
  font-weight: 700;
  font-size: 25px;
}

.text p{
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  line-height: 18px;
  margin-top: 20px;

}

.contact{
  margin-top: 40px;
  width: 120px;
  height: 40px;
  background-color:#0F2435 ;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 8px;
  border: none;
}

.contact:hover{
  background-color: #55BDB3;
  color: #000000;
  transition: 0.3s ease-in;
}

.content-sponsor{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.sponsor{
  width: 80%;
  height: 67px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #7e7e7e;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;


}
.rodape{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  background-color:#0F2435 ;
}

.content-main{
  font-family: 'Outfit',sans-serif;
  font-weight:600px;
  margin-left: 20px;
  color: #cde4e4;


}

.services-content{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}

.services-content h1{
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
}

.services-content p{
  margin-top: 20px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 17px;
}

.content-card{
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-topic-1{
  margin-bottom: 20px;
  width: 260px;
  height: 320px;
  background-color: #fff;
  border: #267BFF 1.5px solid;
  border-radius: 20px;
  align-self:auto;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 30px;
  box-shadow: #7c7c7c 1px 1px 6px;
}

.card-topic-2 {
  margin-bottom: 20px;
  width: 260px;
  height: 320px;
  background-color: #fff;
  border: #21DAFF 1.5px solid;
  border-radius: 20px;
  align-self: auto;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 30px;
  box-shadow: #7c7c7c 1px 1px 6px;
}

.card-topic-3 {
  margin-bottom: 20px;
  width: 260px;
  height: 320px;
  background-color: #fff;
  border: #FF834B 1.5px solid;
  border-radius: 20px;
  align-self: auto;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 30px;
  box-shadow: #7c7c7c 1px 1px 6px;
}

.card-topic-4 {
  margin-bottom: 20px;
  width: 260px;
  height: 320px;
  background-color: #fff;
  border: #FF9318 1.5px solid;
  border-radius: 20px;
  align-self: auto;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 30px;
  box-shadow: #7c7c7c 1px 1px 6px;
}

.card-topic-5 {
  margin-bottom: 20px;
  width: 260px;
  height: 320px;
  background-color: #fff;
  border: #5252FF 1.5px solid;
  border-radius: 20px;
  align-self: auto;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 30px;
  box-shadow: #7c7c7c 1px 1px 6px;
}

.card-topic-6 {
  margin-bottom: 20px;
  width: 260px;
  height: 320px;
  background-color: #fff;
  border: #E72AFF 1.5px solid;
  border-radius: 20px;
  align-self: auto;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 30px;
  box-shadow: #7c7c7c 1px 1px 6px;
}

.card-topic-1, .card-topic-2, .card-topic-3, .card-topic-4, .card-topic-5, .card-topic-6 h4{
  font-family: 'Outfit',sans-serif;
  font-weight: 500;
}

.card-topic-1, .card-topic-2, .card-topic-3, .card-topic-4, .card-topic-5, .card-topic-6 p{
  font-size: 16px;
}
.content-process{
  display: flex;
  flex-direction: row;
}

.process-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 150px;
  margin-left: 70px;
}

.process-text h2{
  font-family: 'Outfit',sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.process-text p {
  font-family: 'Outfit',sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.content-process img{
  width: 880px;
  height: 850px;
}

.professor-content{
  display: flex;
  flex-direction: column;
  font-family: 'Outfit',sans-serif;
  font-weight: 600;
  font-size: 23px;
  align-items: center;
  
}